.parent{
    border: solid 2px royalblue;
    display: inline-block;
}
.box{
    width: 100px;
    height: 100px;
    border: solid 3px fuchsia;
    display: inline-block;
   
}
#d1{
    background-color: gold;
   position: relative;
}
#d2{
    background-color: mediumaquamarine;
    position: relative;
    
}
#d3{
    background-color: peru;
    position: relative;
    
   
}
#d4{
    background-color: darkgreen;
    position: relative;
    
}