.fontfamily{
    font-size: medium;
    font-style: oblique;
}

.bgfamily{
    background-color: aquamarine;
}

.bg1{
    background-color: blue;
   
}

.bg2{
    background-color: rgb(208, 255, 0)
    
}